.footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 80px;
    background: #FFFFFF;
}

.footer a {
    text-decoration: none;
}

.footer li {
    list-style-type: none;
    float: left;
}
.footer__copyright {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    text-decoration: none;
    color: #B6BCBF;
    margin: auto 0 auto 104px;
}

.footer__links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 0;
    margin: 24px auto;
}

.footer__link {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #1A1B22
}

.footer__link_main {
    margin-right: 25px;
}

.footer__link_about {
    margin-right: 25px;
}

.footer__icons {
    display: flex;
    justify-content: space-between;
    margin-right: 104px;
    margin-top: auto;
    margin-bottom: auto;
}

.footer__git {
    width: 24px;
    height: 24px;
    background-image: url(../../images/Vector.png);
    background-size: contain;
    margin-right: 28px;
}

.footer__face {
    width: 24px;
    height: 24px;
    background-image: url(../../images/facebook.png);
    background-size: contain;
}